<div class="sessions-content">
  <% provide(:title, "Log in") %>
  <h1>Log in</h1>

  <%= form_for(:session, url: login_path) do |f| %>
    <%= render partial: 'error' %>

    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-field' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-field' %>

    <%= f.submit "Log in", class: "login-button" %>
  <% end %>
</div>
