<div class="sessions-content">
  <% provide(:title, "Sign up") %>
  <h1>Register</h1>

  <%= form_for(:user, url: new_user_path) do |f| %>
    <%= render partial: 'error' %>

    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-field' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-field' %>

    <%= f.submit "Sign up", class: "login-button" %>
  <% end %>
</div>
