<!DOCTYPE html>
<html>
  <head>
    <title>Whats for Lunch?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Raleway:300,400' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: "nav" %>
      <%= yield %>
    </div>
  </body>
</html>
